fastapi==0.115.8
uvicorn==0.34.0
dashscope==1.25.11
faster-whisper==1.2.1
requests==2.32.3
python-multipart==0.0.20
sqlalchemy==2.0.38
psycopg2-binary==2.9.10
passlib[bcrypt]==1.7.4
PyJWT==2.10.1
openai==1.65.4
websocket-client>=1.9.0
alembic==1.14.1
spacy==3.7.5
yt-dlp>=2025.2.19,<2027
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
